extends chatbase

block content
	div
		div.container
			if failure
				div.alert.alert-warning.alert-dismissible(role="alert")
					button(aria-label="close" type="button" data-dismiss="alert").close
						span(aria-hidden="true") &times;
					strong No user found, no chat room was created.
		div.col-sm-2.sidebar
			div.chat-header
				h3 Chat Rooms
				hr
			ul.list-group
				a(href="#" data-target="#create" data-toggle="modal").list-group-item
					h4 Create a Chat Room!
					p Chat up your friends!

				each room in rooms
					a(href="/chat/" + room._id).list-group-item
						h4.list-group-item-heading #{room.name}
						p.list-group-item-text Last sent message
		div.col-sm-10.mainbar
			div.menu
				div.name #{current_room ? current_room.name : "No room selected"} 
			ol.chat#messages
				li.other 
					p.msg weirdlkj
				li.self
					p.msg Hello! What the heck
				form#messaging
					input(id='m' autocomplete='off' type='text' placeholder='Type your message here!').textarea

	div.modal.fade#create(tabindex= "-1" role = "dialog")
		div.modal-dialog(role="document")
			div.modal-content
				div.modal-header
					button(type="button" data-dismiss="modal" aria-label="Close").close
					h4.modal-title Create a chat room!
				div.modal-body
					p Enter a friend's user ID below, and hit enter! If this user exists, you will both be placed in a chat room. Make sure you validate the username first!
					label Username:
					form(method="post" action="/chat") 
						input(type="text" name="verify" placeholder="Friend username").form-control
						br
						button(type="submit").btn.btn-primary Validate
				div.modal-footer
					button(type="button" data-dismiss="modal").btn.btn-default Close
					button(type="button").btn.btn-primary.disabled Create room!